.AppLayout{
  display:flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.button{
  background-color: salmon;
}
body{
  background-color: #ddd;  
}